---
import LogInForm from '../../components/LoginForm'; 
import BaseLayout from '../../layouts/Layout.astro';

---
<BaseLayout title="Log in Form">
   <main class="grid place-content-center flex-grow">
    <LogInForm client:load/>
   </main>
</BaseLayout>