---
import BaseLayout from '../layouts/Layout.astro'; 
---

<BaseLayout title='404'>
    <main class="min-h-full grid place-content-center text-2xl text-center gap-4">
        <p class="text-4xl">
            404
        </p>
        <a href="/blog/" class="bg-ivory text-black-brown-dark py-2 px-4 hover:opacity-50 active:opacity-50">Go Back.</a>
    </main>
</BaseLayout>
