---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Blog">
	<main class="grid place-content-center text-2xl min-h-[94dvh]">
		<p>quick opitionated reads. <a href="/blog/" class="hover:underline transition-all">enter</a></p>
	</main>
</BaseLayout>
