---
import Layout from '../layouts/Layout.astro';
import Column from '../components/Pagination.astro';

---

<Layout title="Blog">
	<main class="grid place-content-center min-h-[94dvh] text-2xl">
		<p>quick opitionated reads. <a href="/blog/" class="hover:underline transition-all">enter</a></p>
	</main>
</Layout>
