---
import SignupForm from '../../components/SignupForm';
import BaseLayout from '../../layouts/Layout.astro';

---
<BaseLayout title="Log in Form">
   <main class="grid place-content-center flex-grow">
    <SignupForm client:load/>
   </main>
</BaseLayout>